@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #ffffff;
}

*::-moz-selection {
  background: #000000;
  color: #ffffff;
}

*::selection {
  background: #000000;
  color: #ffffff;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  align-items: center;
  color: #ffffff;
  background-color: #1085E4;
  padding: 25px 57px;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

button:hover {
  background: #182852;
  transition: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.link-line {
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  color: #fff;
}
.link-line::before {
  content: "";
  position: absolute;
  width: 0%;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
  transition: 0.4s;
}
.link-line:hover::before {
  width: 100%;
  left: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 24px;
}

.header {
  z-index: 2;
  padding: 50px 0 20px 0;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__btn {
  font-family: "Open Sans", sans-serif;
  width: 800;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  font-family: "Open Sans", sans-serif;
  width: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  list-style: none;
  color: red;
  text-transform: uppercase;
}
.menu__list-item {
  margin: 20px 20px;
}
.menu__list-link {
  color: #6E7EA9;
}
.menu__list-link:hover {
  color: #1085E4;
}

.top {
  background-image: url("../image/content/top__bg.png");
  position: relative;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}
.top__wrap {
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.top__info {
  text-align: left;
}
.top__title {
  font-family: "Open Sans", sans-serif;
  width: 700;
  max-width: 560px;
  font-size: 80px;
  color: #192B59;
}
.top__btn {
  font-family: "Open Sans", sans-serif;
  width: 800;
  margin: 0 5px;
}
.top__btn:nth-child(2) {
  background: #CBDBE8;
  color: #8E9BBA;
}
.top__btn:nth-child(2):hover {
  background: #182852;
  transition: 0.4s;
  color: #fff;
}
.top__img {
  max-width: 873px;
}
.top__line {
  background-image: url("../image/content/logo__bg.png");
  background-repeat: no-repeat;
  background-position: centere;
  background-size: cover;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  padding: 110px 0;
}
.top__line-img {
  display: flex;
  flex: wrap;
  padding: 20px;
  position: relative;
  max-width: 200px;
}

.features {
  font-family: "Open Sans", sans-serif;
  width: 400;
  color: #7581a1;
}
.features__wrap {
  margin-top: 120px;
}
.features__title {
  font-family: "Open Sans", sans-serif;
  width: 700;
  color: #1085e4;
  flex: 14px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}
.features__title-descr {
  font-family: "Open Sans", sans-serif;
  width: 700;
  color: #192b59;
  text-align: left;
  font-size: 40px;
  max-width: 280px;
}
.features__items {
  max-width: 1150px;
  right: 0;
  left: 0;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 125px;
  border-bottom: 1px solid #D9D9DE;
}
.features__item {
  margin: 6px;
  background: #d9d9de;
  padding: 90px 40px 70px;
  min-height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  max-width: 350px;
}
.features__item:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.features__item:nth-child(7) {
  max-width: 730px;
  text-align: left;
}
.features__item-img {
  max-width: 55px;
}
.features__item-title {
  font-family: "Open Sans", sans-serif;
  width: 700;
  margin: 40px 0;
  font-size: 20px;
  color: #192b59;
}
.features__item-link {
  font-family: "Open Sans", sans-serif;
  width: 700;
  margin-top: 30px;
  color: #1085e4;
}/*# sourceMappingURL=style.css.map */