@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@font-face {
   font-family: 'Open Sans',sans-serif;
   src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       ('../fonts/OpenSans-Regular.woff') format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Open Sans',sans-serif;
   src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       ('../fonts/OpenSans-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Open Sans',sans-serif;
   src: url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
       ('../fonts/OpenSans-ExtraBold.woff') format('woff');
   font-style: normal;
   font-weight: 800;
   font-display: swap;
}

@mixin regular {
   font-family: 'Open Sans', sans-serif;
   width: 400;

}

@mixin bold {
   font-family: 'Open Sans', sans-serif;
   width: 700;
   
}

@mixin extrabold {
   font-family: 'Open Sans', sans-serif;
   width: 800;
   
}

