@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@mixin regular {
   font-family: 'Open Sans', sans-serif;
   width: 400;

}

@mixin bold {
   font-family: 'Open Sans', sans-serif;
   width: 700;
   
}

@mixin extrabold {
   font-family: 'Open Sans', sans-serif;
   width: 800;
   
}

